# Handling missing values in Pandas

# Methods for handling missing values

# isnull() - Generates a boolean mask
              This fuction returns a True or False
              True : Indicating the missing values
              False: Indication the Non- missing values

# not null() - This fucntion is just opposite to the isnull() function
              This fuction returns a True or False which is completly opposite to isnull() func
              True : Indicating the missing values
              False: Indication the Non- missing values

# dropna() - This function drops the missing value at a row level 
                
                    Means if any cell that contains a missing value then automatically the dropna() function will delete the entire row  (oka  cell lo na vunna kuda motham row ni delete chesthadhi dropna() func ).

# fillna()    - This function returns a copy of the data with missing values filled or imputed

        WE CAN handle or operate the missing values by using the above 4 methods
        
        QUE: How to identify the null values 
        ANS: Using isnull() and notnull() we can easily find the null values which they return True or False

In [1]:
import numpy as np

import pandas as pd

In [2]:
data = pd.Series([ 5 , np.nan, "Python", None])

data   # printing the series.

0         5
1       NaN
2    Python
3      None
dtype: object

In [3]:
data.isnull()      #True : Missing value | False : returns non missing values( 1st and 3rd idexes returns True | 0 and 2 returns Flase)

0    False
1     True
2    False
3     True
dtype: bool

In [4]:
data.notnull()  #True :  Non Missing value | False : returns missing values( 0 and 2 indexes returns True | 1 and 3 returns False)

0     True
1    False
2     True
3    False
dtype: bool

In [5]:
data[data.notnull()] # To return only not null values or data[~data.isnull()]

0         5
2    Python
dtype: object

In [6]:
data[~data.notnull()] # To return only null values with negation (~).or data[data.isnull()]

1     NaN
3    None
dtype: object

In [7]:
data[data.isnull()] # only not null values (true - nulls)

1     NaN
3    None
dtype: object

In [8]:
data[~data.isnull()] # Only null values (false - not nulls)

0         5
2    Python
dtype: object

# EXAMPLE - 2

In [11]:
data1 = pd.Series([5, np.nan, None, "None" ," " ," ", "null" ])    # (missing value) None != "none"(string)
data1

0       5
1     NaN
2    None
3    None
4
5
6    null
dtype: object

In [12]:
data1.isnull()

0    False
1     True
2     True
3    False
4    False
5    False
6    False
dtype: bool

In [13]:
data1.notnull() #opposite to isnull()

0     True
1    False
2    False
3     True
4     True
5     True
6     True
dtype: bool

# EXAMPLE - 1 Dropna()

# dropna() - Any cell will null values then the complete row will gets deleted

In [14]:
data2 = pd. Series([8, np.nan, "abc", None])
data2

0       8
1     NaN
2     abc
3    None
dtype: object

In [15]:
data.dropna()   # Here even 1 NaN is found then completely that row will get delete. WHY ONLY ROW?->Bcoz axis=0 by default means row.

0         5
2    Python
dtype: object

# EXAMPLE - 2 Dropna()

In [19]:
df=pd.DataFrame([[1, np.nan, 3], [5, 8, 9], [None, 7, 6]],  columns=["A", "B", "C"])  #columns= [] is like customising our own column names.-> DataFrame rows dafault 0,1,2,3,4

df

     A    B  C
0  1.0  NaN  3
1  5.0  8.0  9
2  NaN  7.0  6

In [20]:
df.dropna() #See the above output, the dropna dletes the complete rows that have NaN except 1st row coz no "NaN's"

     A    B  C
1  5.0  8.0  9

In [22]:
df.dropna(axis="columns") #So, here we gave column wise so, it checks if there are any Null's even 1 NaN in column and drops the complete column.

   C
0  3
1  9
2  6

#  axis = 0 -> Rows

# axis=1 -> Columns